html {
  scroll-behavior: smooth;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Inter', sans-serif;
    font-size: 105%;
    font-weight: 400;
    background-color: #FFFFFF;
    /* background-color: #0B223C; 
        ^^ changed because of cover image
    */
    /*
    background: linear-gradient(#0b131d, #162233, #0b131d);
    height: 100%; for parallax effect
    */
}


p, button {
    font-size: 110%;
}

.font-3 {
    font-weight: 300;
}
.font-4 {
    font-weight: 400;
}
.font-5 {
    font-weight: 500;
}
.font-6 {
    font-weight: 600;
}
.font-7 {
    font-weight: 700;
}

.cover-page {
    max-height: 90vh;
    background-image: url("img/pic2.jpg");
    
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.content {
    overflow: auto;
    position: relative;
}
.content::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    /* background-image: url("img/pic.jpg"); */
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;

    width: 100%;
    height: 100%;

    opacity: 0;

    animation: cover-anim 0.6s ease-in 1s 1 normal forwards;
}

@keyframes cover-anim {
    0% {opacity: 0;}
    100% {opacity: 0.7;}
}


/* .content2 {
    background-image: url("img/coding.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
} */

/* .content3 {
    background-image: url("img/mail.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
} */

.iframe-container {
    position: relative;
    overflow: hidden;
    /* width: 70%; */
    padding-top: 95.3%;
}
.iframe-responsive {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}



.btn-blue:hover {
    color: #FFFFFF;
}

.name-spacing {
    padding-top: 8em;
}
.h-big {
    font-size: 500%;
    font-weight: bold;
}
.h-medium {
    font-size: 230%;
}
.h-medium-2 {
    font-weight: 400;
    font-size: 185%;
    margin-left: 3px;
}
.text-button {
    font-size: 120%;
}
.text-small {
    font-weight: 300;
    font-size: 92%;
    color: #888888;
}
.btn-flush {
    position: absolute;
    bottom: 0;
}

.i-md {
    font-size: 200%;
}
.i-lg {
    font-size: 300%;
}

.section {
    min-height: 30em;
}
.zoom{
    transition: transform 0.15s;
}
.zoom:hover {
    transform: scale(1.035);
}

.clickable {
    cursor: pointer;
}

.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.bg-0 {
    background-color: #0B223C;
}
.bg-1 {
    background-color: #FFFFFF;
}
.bg-2 {
    background-color: #438bdc;
}
.bg-3 {
    background-color: #FD882E;
}

.text-0 {
    color: #0B223C;
}
.text-1 {
    color: #FFFFFF;
}
.text-2 {
    color: #438bdc;
}
.text-3 {
    color: #FD882E;
}